# Игнорировать сырые данные (FASTQ)
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Игнорировать промежуточные файлы выравнивания (BAM/SAM)
*.sam
*.bam
*.bai
*.sorted.bam

# Игнорировать тяжелые файлы вариантов (VCF)
*.vcf
*.vcf.gz
*.tbi

# Игнорировать временные файлы GATK и логи
*.log
*.metrics
*.dict
gatk-temp/

# Игнорировать результаты R и отчеты (если хотите оставить их локально)
*.html
*.pdf
.Rhistory
.RData
.Rproj.user/

# Игнорировать системные файлы
.DS_Store
Thumbs.db
